body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 0;
}



header {
	z-index: 1;
	left: 0;
	position: absolute;
	width: 100%;
	position: fixed;
	background-color: #ffffff;
	height: 150px;
	top: 0;
}
header img {
	width: 65px;
	height: 65px;
	float:left;
	margin-top:55px;
	margin-left: 30px;
}
nav ul{
	min-width: 1000px;
	list-style: none;
	margin: 0 auto 0 auto;
	line-height: 170px;
	margin-left: 2%;
	font-size: 25px;
	font-family:"HelveticaNeue-Light", Helvetica, "Arial-light", sans-serif;
	height: 150px;
}
nav ul li {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 3%;
}
nav ul li:last-child{
	margin-top: 60px;
	margin-right: 2%;
    float: right;
    text-decoration: none;
    border: solid;
    text-align: center;
    font-size: 21px;
    padding: 15px;
    height: 30px;
    line-height: normal;

}
nav {
	width: 90%;
	margin: 0 auto;
}
nav ul li a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

/*HOME*/
.wraper_home{
	background-size: 100%;
	background:url(..//img/fundo_pag_1.png);
	width: 100%;
	margin: 0 auto 0 auto;
	min-width: 1280px;


}
#home{
	margin-top: 150px;
	height: 1000px;
	max-width: 1280px;
	margin: 150 auto 0;
}
.home_minhorb{
	vertical-align: top;
	display: inline-block;
	width: 60%
}.home_minhorb img {
	margin-bottom: 30px;}	
		.home_minhorb p{
			font-family:"HelveticaNeue-Light", Helvetica, "Arial-light", sans-serif;
			font-size: 29px;
			color: #666666;
}


.next_event{
	margin-left: 5%;
	position: relative;
	margin-top: 2%;
	background: url(..//img/fundo_red_poly.jpg);
	background-position-y: -100px;
	background-size: 900px;
	display: inline-block;
	width: 400px;
	height: 450px;
}	
.next_event p {
	font-family:"HelveticaNeue-Light", Helvetica, "Arial-light", sans-serif;
	color: #ffffff;
	font-size: 21px;
	padding-left: 50px;
}

.next_event p:nth-child(1){
	font-size: 21px;
	font-family:"HelveticaNeue-light", Helvetica, "Arial-light", sans-serif;
}

.next_event p:nth-child(2){
	margin-top: 30px;
	font-size: 29px;
	font-family:"HelveticaNeue-bold", Helvetica, "Arial-bold;", sans-serif;
}

.next_event p:nth-child(3){
	margin-top: -20px;
	font-size: 29px;
	font-family:"HelveticaNeue-bold", Helvetica, "Arial-bold;", sans-serif;
}

.next_event p:nth-child(4){
	margin-top: 25px;
	margin-bottom: -10px;
	font-size: 29px;
	font-family:"HelveticaNeue-bold", Helvetica, "Arial-bold;", sans-serif;
}


.next_event p:nth-child(5){
	font-size: 21px;
	font-family:"HelveticaNeue-light", Helvetica, "Arial-light", sans-serif;
}

.next_event p:nth-child(6){
	margin-top: -20px;
	font-size: 21px;
	font-family:"HelveticaNeue-light", Helvetica, "Arial-light", sans-serif;
}

.next_event p:last-child{
	margin-top: 45px;	
	font-size: 21px;
	font-family:"HelveticaNeue-bold", Helvetica, "Arial-bold;", sans-serif;

}

/* Where are you?  Doe*/
.next_event p img{
	margin-right: 10px;
	width: 33px;
	height: 45px;

}

.book_spot {
	position: absolute;
	bottom: 0;
	text-decoration: none;
	width: 100%;
	height: 60px;
	font-size: 29px;
	font-height:bold;
	background-color: #333333;
	text-align: center;
	vertical-align: bottom;
}.book_spot a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	margin-top: 10px;
}
.book_spot a:hover{color: #666666}


form{
	clear: left;
	float: left;
	width: 700px;

}
.form p{
font-size: 21px;
	font-family:"HelveticaNeue-light", Helvetica, "Arial-light;", sans-serif;

	}
.form input{
		width: 300px;
		height: 50px;
		font-size: 21px;
		font-family:"HelveticaNeue-lightitalic", Helvetica, "Arial-lightitalic;", sans-serif;
		padding-left: 10px;
}
.form button{
	cursor:hand;
	margin-left: 20px;
	width: 140px;
	height: 49px;
	color: #ffffff;
	background-color: #333333;
	border: none;
/*HOME*/
	font-size: 21px;
}
/*Fim Home*/

/*Inico Sobre*/
.wraper_about{
	background-size: 100%;
	background-color: #333333;
	width: 100%;
	margin: 0 auto 0 auto;
	min-width: 1280px;
}
#about{
	position: relative;
	height: 800px;
	max-width: 1280px;
	margin: 0 auto;
}
.about_fold2{
	display: inline-block;
	width: 700px;
}
.about_fold2 h1{
	color: #ffffff;
	font-size: 60px;

}
.about_fold2 p{
	color: #ffffff;
	font-size: 21px;
	font-family:"HelveticaNeue-light", Helvetica, "Arial-light;", sans-serif;

}
.photos_about{
	right: 0;
	position: absolute;
	top: 270;
	display: inline-block;
	width: 450px;
}
.photos_about img{
	width: 200px;
	height: 200px;
}
